@media only screen and (max-width:1024px) {
    html{
        overflow-x: hidden;
    }
    body{
        margin-top:7vh !important;
        width: 100%;
        overflow-x: hidden
    }
    .part-title hr {
        width: 85vw;
    }
    .card {
        height: 35vh;
    }
    .card__side--back p {
    font-size: 1.6vh
    }
    .nav-main{
        justify-content: center;
        position:fixed;
        width:100%;
    }
    #nav-menu{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 2em;
        padding: .4em;
        z-index: 1000;
        position:fixed;
    }
    .nav-links{
        padding-top: 4em;
        position: absolute;
        flex-direction: column;
        top:0;
        left: -100%;
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23003366' fill-opacity='0.07'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        border-right: 1px solid var(--color1);
        height: 100vh;
        width: 40vw;
        transition: 0.5s ease-in-out;
    }
    .nav-links.hide{
        left: 0;
    }
    .nav-links li{
        margin-top: 0;
        border-bottom: none;
        direction: ltr;
    }
    .nav-links li:hover{
        border-bottom: none;
        background-color: initial;
        color: initial;
        text-shadow: initial;
    }
    .carousel-item{
        height: 45vh;
    }
    .carousel-item img {
        padding: 0 .1em;
        margin-top:-18vh;
    }
    .carousel-control-prev i,
    .carousel-control-next i {
        font-size: 1em;
        color: rgba(0,0,0,0.5);
    }
    .mini-us {
        margin: 5vh 9vw;
    }
    .services-main {
        height: auto;
        padding: 4vh 0;
        grid-template-columns: 1fr 1fr;
        row-gap: 2vh;
    }
    .footer-sections {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2vh;
    }
    .footer-extra {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
    }
    .info-card,.info-card.reverse{
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }
    .info-card{
        justify-content: center;
        align-content: center;
        margin: 10vh 0;
    }
    .info-card img{
        width: 50vh;
    }
    .info-card p, .info-card.reverse p, .info-extra{
        width: 80%;
        justify-content: center;
        text-align: center;
    }
    .info-extra li p, .info-extra p{
        width: 100%;
        margin: 1em 0;
    }
    .contact.gmap_canvas iframe{
        display: none;
    }
    .contact .info > a{
        text-align: center;
    }
    .slider{
        height: 25vh;
    }
    .slider .slide img {
        height: 22vh;
        width: 60vw;
    }
    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(calc(-60vw * 5));
            transform: translateX(calc(-60vw * 5));
        }
    }
    .slider::before,
    .slider::after{
        width: 20vw;
    }
    .privacy h1 {
        font-size: 40px;
    }
    .privacy h2 {
        font-size: 35px;
    }
    .privacy h3 {
        font-size: 30px;
    }
}
@media only screen and (max-width:550px) {
    #nav-menu{
        font-size: 1.5em;
        margin: .35em;
    }
    .nav-links{
        width: 65vw;
    }
    .carousel-item{
        height: 40vh;
        margin-top:-5vh;
        padding: 0 0 2vh 0;
    }
    .services-main {
        grid-template-columns: 1fr;
        padding: 4vh 2vh;
        row-gap: 3vh;
    }
    .card__icon img {
        width: 70%;
    }
    .card {
        height: 40vh;
    }
    .card__side--back p {
        font-size: 1.8vh
    }
    .slider .slide img {
        padding: 0.5em 3em;
        margin-top: 1em;
        height: 100px;
        width: 300px;
    }
    .slider::before,
    .slider::after{
        width: 15vw;
    }
    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(calc(-300px * 5));
            transform: translateX(calc(-300px * 5));
        }
    }
    .slider {
        height: 170px;
    }
    .page{
        width: 90%;
    }
    .info-card img {
        height: 20vh;
    }
    .info-description {
        padding: 3em 2em;
    }
    .contact .info h2{
        text-align: center;
        font-size: 2.5vh;
    }
    .contact .info{
        align-items: center;
        text-align: center;
    }
    .contact .info a{
        font-size: 1.4vh;
    }
    .contact .maps 
    .privacy h1 {
        font-size: 30px;
    }
    .privacy h2 {
        font-size: 25px;
    }
    .privacy h3 {
        font-size: 20px;
    }
    .privacy p {
        font-weight: 500;
    }
    .footer-extra{
        margin:0;
    }
    .footer-extra a{
        padding:1em 0;
    }
}