/**!Configuration*****************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    --main-color: #fff /* #e1dddb */;
    --color1: /* #4A72B2 */ #003366;
    --color2: #d98a5d /* #ef6c33 */;
    --color3: #abdff1;
    --brand-color: #003366;
    --shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
    zoom: 100%;
}
a,
a:hover {
    color: var(--color1);
    text-decoration: none;
}
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
ol,
li {
    font-weight: 500;
    color: var(--color1);
}
body {
    position: relative;
    font-family: "Quicksand", sans-serif;
    background-color: #fff;
}
/** Animations */
/* Grow */
.hvr-grow {
    transform: translateZ(0);
    transition-duration: 0.1s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.05);
}
/**!Teamplate*********************************************************************************/
/** Navigation */
.nav-main {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 17px;
    font-weight: 500;
    padding: 1.8em 3em;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--color1);
    box-shadow: var(--shadow);
}
.nav-main a {
    display: flex;
}
.nav-main a img {
    cursor: pointer;
    height: 40px;
    width: auto;
    margin-top: 1.7em;
}
.nav-main a h1 {
    cursor: pointer;
    margin-left: 0.2em;
    font-size: 40px;
    color: var(--brand-color);
}
.nav-main a h1 span {
    color: var(--color2);
}
.nav-main > ul {
    display: flex;
}
.nav-main ul.nav-links {
    flex: 1;
    margin-left: 50%;
}
.nav-links li {
    margin-top: 1em;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    transition: 0.25s ease-in;
    background-color: none;
}
.nav-links li:hover {
    cursor: pointer;
    border-bottom: 4px solid var(--color1);
    text-shadow: 0px 0px 35px var(--color1);
    background-color: rgba(224, 224, 224, 0.5);
}
.nav-links li a{
    padding: 15px;
}

/** Footer */
.footer-main {
    box-shadow: var(--shadow);
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
}
.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-main .footer-info img {
    padding-bottom: 10px;
    cursor: pointer;
    height: 40px;
    width: auto;
}
.footer-info h1 {
    cursor: pointer;
    font-size: 20px;
    color: var(--brand-color);
}
.footer-info h1 span {
    color: var(--color2);
}
.footer-info div {
    display: flex;
}
.footer-info .footer-social {
    flex: 1;
    margin-left: 60%;
}
.footer-info .footer-social i {
    font-size: 25px;
    margin-left: 1em;
    color: var(--color1);
    cursor: pointer;
}
/*The division*/
.footer-main hr {
    margin: 0;
    border-color: var(--color1);
}
/*Sections of links*/
.footer-sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 0.7em 3em;
}
.footer-sections .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-sections .footer-section h2 {
    cursor: default;
    font-size: 15px;
    color: var(--color2);
}
.footer-sections .footer-section a {
    font-size: 13px;
}
.footer-sections .footer-section a:hover {
    color: #4a72b2;
}
.footer-sections .footer-section .footer-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}
.footer-sections .footer-section .footer-services a {
    text-align: center;
}
/*last part*/
.footer-extra {
    color: var(--brand-color);
    font-size: 10px;
    text-align: center;
    margin: 0.5em 8em -2em 8em;
    cursor: default;
    display: flex;
    justify-content: center;
}
.footer-extra a {
    margin: 0.6em 0.6em;
}
.footer-extra a:hover {
    color: #4a72b2;
}
/** Basic page */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/** Titles */
h1.info-title {
    margin: 0;
    background-color: var(--color2);
    color: var(--main-color);
    font-size: 40px;
    padding: 1.3em 0.2em;
    text-align: center;
    box-shadow: var(--shadow);
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.12'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/** Description of the page */
.info-description {
    padding: 3em 5em;
    text-align: center;
}
/** Mini info cards */
.info-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5em 0;
}
.info-card img {
    height: 40vh;
    grid-row: 1/4;
    justify-self: center;
}
.info-card.reverse {
    direction: rtl;
}
.info-card.reverse h2,
.info-card.reverse p {
    text-align: right;
}
.info-card.reverse a{
    direction: initial;
    text-align: right;
}
.info-card .info-extra .subtitle{
    color: var(--color2);
    font-weight: 900;
    font-size: 1.3em;
}
/**!Main*********************************************************************************/
/** Carousel */
.carousel-item {
    height: 77vh;
}
.carousel-control-prev i,
.carousel-control-next i {
    font-size: 2em;
    color: var(--color2);
}
.carousel-item img {
    height: 100%;
    padding: 1em 8em;
}
/** Mini-Us */
.mini-us {
    cursor: default;
    text-align: center;
    margin: 6em 7em;
    font-size: 19px;
    color: var(--color1);
}
.mini-us i {
    font-size: 25px;
    margin: 0 0.5em;
    color: var(--color2);
}
/** Titles */
.part-title {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    color: rgba(0, 51, 102, 0.6);
    transform: translateY(-5px);
}
.part-title h1 {
    font-size: 0.8em;
}
.part-title hr {
    width: 90vw;
    border-color: rgba(0, 51, 102, 0.6);
    margin-left: 0.3em;
}

/** Services Icons */
.services-main {
    background: var(--main-color);
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 0;
    box-shadow: var(--shadow);
}
/** Cards */
.card {
    height: 22em;
    width: 16em;
    -moz-perspective: 200rem;
    perspective: 200rem;
    cursor: default;
}
.card__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.7s ease;
    color: var(--main-color);
}
.card__side--front {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.025) inset;
    background-color: var(--main-color);
    color: var(--color2);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}
.card__side--back {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    background-color: var(--color2);
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.12'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-radius: 2px;
    transform: rotateY(180deg);
    font-size: 0.7em;
}
.card__side--back a {
    cursor: pointer;
}
.card:hover .card__side--back {
    transform: rotateY(0);
}
.card:hover .card__side--front {
    transform: rotateY(-180deg);
}
.card__icon {
    display: flex;
    justify-content: center;
}
.card__icon img {
    width: 80%;
}
.card__subject {
    color: var(--color1);
}
.card__heading {
    color: var(--main-color);
    flex: 1;
    font-size: 1.5em;
}
.card__side--back p {
    color: var(--main-color);
}
/** Slider Enterprise */
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-400px * 5));
        transform: translateX(calc(-400px * 5));
    }
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-400px * 5));
        transform: translateX(calc(-400px * 5));
    }
}
.slider {
    background: var(--main-color);
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    box-shadow: var(--shadow);
}
.slider::before,
.slider::after {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--main-color)),
        to(rgba(255, 255, 255, 0))
    );
    background: linear-gradient(
        to right,
        var(--main-color) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 200px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: -webkit-box;
    display: flex;
    width: calc(400px * 4);
}
/*My Decoration*/
.slider {
    padding: 1.5em 0;
}
.slider .slide img {
    padding: 0.5em 3em;
    margin-top: 1em;
    height: 110px;
    width: 400px;
}
/**!Privacy*********************************************************************************/
.privacy h1 {
    color: var(--color2);
    border-bottom: 1px solid var(--color2);
    font-size: 30px;
}
.privacy h2 {
    color: var(--color2);
    font-size: 25px;
}
.privacy h3 {
    color: var(--color2);
    font-size: 20px;
}
.privacy p {
    padding-right: 1em;
    padding-left: 1em;
    font-weight: 500;
}
.privacy ul,
.privacy ol {
    list-style: decimal;
    margin-left: 1em;
}
.privacy li {
    margin-left: 1em;
    font-weight: 500;
}
.privacy a {
    color: #4a72b2;
}
/**!Comtact*********************************************************************************/
.contact {
    display: flex;
    box-shadow: var(--shadow);
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    margin-top: 1em;
    margin-bottom: 1em;
}
.contact.gmap_canvas {
    overflow: hidden;
    background: none;
}
.contact .info {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    justify-items: center;
}
.contact .info h2 {
    color: var(--color2);
    font-size: 25px;
}
.contact .info > a {
    padding: 0.5em 0;
}
/**!Nosotros*********************************************************************************/
.us .values {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.us .values img {
    height: 40vh;
    grid-row: 1/4;
    justify-self: center;
}
.us .values ol {
    margin: 0;
    margin-left: 1em;
}
